body {
  font-family: 'Charter',sans-serif;
}

@media screen and (max-width: 959px) {
  body {
    width: 100%;
  }
}

.section-title {
  display: inline-block;
  font-size: 45px;
  color: white;
  border-bottom: 3px solid #1d9ef5;
  padding-bottom: 5px;
  letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 28px;
  }
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 19vh;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .container {
    position: fixed;
    padding: 10px;
    height: 10vh;
    background-color: #011b30;
  }
}

.container .burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .container .burger {
    display: block;
  }
}

.container .burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .header-logo_container img {
  height: 50%;
  width: 60%;
  -webkit-box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 959px) {
  .container .header-logo_container img {
    height: 30%;
    width: 40%;
  }
}

.container .nav-links {
  display: none;
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
}

.container .nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 8px;
  font-size: 30px;
}

.container .list_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 959px) {
  .container .list_nav {
    display: none;
  }
}

.container .list_nav li {
  font-size: 30px;
  text-decoration: none;
  color: white;
  display: inline;
}

.container .list_nav li:hover {
  color: #1d9ef5;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #011b30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.first-vi {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 959px) {
  .first-vi {
    height: 110vh;
  }
}

.first-vi .moon {
  position: absolute;
  top: 12%;
  left: 12%;
  width: 200px;
}

@media screen and (max-width: 959px) {
  .first-vi .moon {
    width: 170px;
  }
}

.first-vi:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#3b78aa), to(transparent));
  background: linear-gradient(to top, #3b78aa, transparent);
}

.first-vi_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
  border-bottom: 4px solid #1d9ef5;
  padding-bottom: 5px;
}

@media screen and (max-width: 959px) {
  .first-vi_title {
    font-size: 45px;
  }
}

@media screen and (max-width: 600px) {
  .first-vi_title {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .first-vi_title span {
    color: #1d9ef5;
  }
}

.first-vi_container {
  width: 100%;
  height: 920px;
}

.first-vi_container img {
  width: 100%;
  height: 100%;
}

.section_profile {
  background-color: #3b78aa;
  text-align: center;
  padding: 100px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .section_profile {
    padding: 80px 30px;
  }
}

.section_profile .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .section_profile .profile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section_profile .profile-container .profile-img {
  width: 35%;
  height: 500px;
}

@media screen and (max-width: 600px) {
  .section_profile .profile-container .profile-img {
    height: 380px;
    width: 100%;
  }
}

.section_profile .profile-container .profile-img img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.7);
}

.section_profile .profile-container .profile-text_bx {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .section_profile .profile-container .profile-text_bx {
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
  }
}

.section_profile .profile-container .profile-text_bx h3 {
  color: white;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2px;
}

@media screen and (max-width: 600px) {
  .section_profile .profile-container .profile-text_bx h3 {
    font-size: 20px;
  }
}

.section_profile .profile-container .profile-text_bx h3::after {
  content: "Shitamatsu Tatsuya";
  font-size: 15px;
}

.section_profile .profile-container .profile-text_bx p {
  color: white;
  font-size: 19px;
  line-height: 190%;
}

.section_skills {
  background-color: #000;
  text-align: center;
  padding: 80px;
}

@media screen and (max-width: 600px) {
  .section_skills {
    padding: 30px;
  }
}

.section_skills h3 {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 25px;
  background: black;
  color: #1d9ef5;
  font-weight: bold;
}

.section_skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px 0;
}

.section_skills .skills-container .skill-icon {
  width: 32%;
}

@media screen and (max-width: 600px) {
  .section_skills .skills-container .skill-icon {
    width: 40%;
  }
}

.section_skills .skills-container .skill-bx {
  width: 30%;
  height: 400px;
  padding: 40px 50px 0;
  margin: 30px 0;
  position: relative;
  border: solid 3px #1d9ef5;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .section_skills .skills-container .skill-bx {
    width: 48%;
    height: 310px;
    padding: 30px 10px 0;
  }
}

.section_skills .skills-container .skill-bx_text {
  text-align: center;
}

.section_skills .skills-container .skill-bx_text p {
  width: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 30px;
  line-height: 160%;
}

@media screen and (max-width: 600px) {
  .section_skills .skills-container .skill-bx_text p {
    font-size: 14px;
    line-height: 140%;
  }
}

.section_work {
  background-color: #3b78aa;
  text-align: center;
  padding: 100px;
}

@media screen and (max-width: 600px) {
  .section_work {
    padding: 30px;
  }
}

.section_work .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
}

.section_work .work-container .work {
  width: 30%;
  height: 400px;
  padding: 20px 20px 0;
  margin: 30px 0;
  position: relative;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .section_work .work-container .work {
    width: 100%;
    padding: 0 0 70px 0;
  }
}

.section_work .work-container .work p {
  padding: 30px 0;
  line-height: 160%;
}

.section_work .work-container .work img {
  height: 55%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .section_work .work-container .work img {
    height: 80%;
  }
}

.section_contact {
  background-image: url(source/img/hut-3374201_1920.jpg);
  background-size: cover;
  height: 700px;
}

@media screen and (max-width: 600px) {
  .section_contact {
    background-repeat: no-repeat;
    background-position: -200px 0;
  }
}

.section_contact .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  position: relative;
}

.btn-container {
  max-width: 100vh;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border_slide_btn {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 60px;
}

@media screen and (max-width: 600px) {
  .border_slide_btn {
    font-size: 45px;
  }
}

.border_slide_btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.border_slide_btn::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: #1d9ef5;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.border_slide_btn:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

footer {
  max-width: 100%;
  height: 70px;
  background-color: rgba(32, 32, 32, 0.925);
}

footer .list_nav {
  max-width: 100%;
  width: 60vh;
  margin: 0 auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .list_nav li {
  font-size: 20px;
  color: #1d9ef5;
}

footer .list_nav li:hover {
  color: #1d9ef5;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */